
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}


.body{
  width: 100%;
  background-color: var(--color-blue-dark);
}

.home{
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-blue-dark);
  color:var(--color-brown);
  text-align: center;

}

.home:before{
  z-index: 777;
  content:'';
  position: absolute;
  background: rgba(9, 30, 65, 0.3);
  width:100%;
  height:100%;
  top:0;
  left:0;
}

.home video{
  z-index:000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.home .content{
  z-index: 888;
  width: 70%;
  margin-top: 50px;
}

.home .content h1{
  font-size: 4em;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 5px;
  line-height: 75px;
  margin-bottom: 20px;
}

.home .content p{
  margin-bottom: 20px ;
}

.btn {
  cursor: pointer;
  border: 3px solid var(--color-brown);
  background-color: var(--color-blue-matte);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  height: 60px; /* Increase button size */
  width: 150px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem; /* Larger text size */
  font-family: "Times New Roman", serif;
  color: var(--color-brown);
  text-transform: uppercase;
  text-decoration: none;
}

.btn:hover {
  background-color: var(--color-brown); /* Add hover effect */
  color: var(--color-blue-matte);
}

.btn-padding {
  margin: 25px; /* Adjust spacing around buttons */
}






/*FOOTER STYLE*/

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem 9%;
  background: var(--light-blue);
}

.footer-text p {
  font-size: 1.6rem;
  color: var(--black);
}

.footer-iconTop a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: .6rem;
  background: var(--medium-blue);
  border: .2rem solid var(--medium-blue);
  border-radius: .4rem;
  z-index: 1;
  overflow: hidden;
  text-decoration: none;
}

.footer-iconTop a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: var(--dark-blue);
  z-index: -1;
  transition: .5s;
}

.footer-iconTop a:hover::before {
  width: 100%;
}

.footer-iconTop a i {
  font-size: 20px;
  color: var(--dark-blue);
  transition: .5s;
}

.footer-iconTop a:hover i {
  color: var(--light-blue);
}

@media(max-width: 900px) {
  .footer p {
    font-size: 20px;
  }
  .footer-iconTop a i {
    font-size: 18px;
  }
  .footer-iconTop a {
    padding: .5rem;
  }
}